<html>
    <head>
        <title>Rust Server Admin</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <table align="center" width="70%">
        <tr><td colspan="2">

            <div class="title"><h1>Rust Server Admin</h1></div></td><td><div class="title"><form method="post" action="{{url_for('logout')}}">
                <input type="submit" value="Logout" /></form></div></td></tr>
        <tr><td>
            <h2>Server Status</h2><br>
            <div id="content">

                    <pre>{{status['Message']}}</pre><br>
                </div>
        </td><td>
                <h2>Server Console</h2><br>
                <div id="content" style="height:120px;overflow:auto;">

                    {%for line in console%}
                    <pre>{{line['Message']}}</pre>
                    {%endfor%}
                </div>

        </td></tr>
        <tr><td valign="top" width="50%" height="20%">
        <div id="container">
            <div class="title">
                <h1>In Game Items</h1>
            </div>
            <div id="content">
                <form name="form" id="form" method="post" action="{{ url_for('rustitem') }}">
                  <select name="player">
                      <option value="None">Choose Player</option>
                  {%for player in players%}
                  <option selected="selected" value="{{player['DisplayName']}}">{{player['DisplayName']}}</option>
                  {%endfor%}
                  </select>  Amount <input type="text" value="1000" name="itemnum" />
                  <br />
                  {% autoescape false %}
                  {{itmlist}}
                  {% endautoescape %}
                  <br><br><input type="submit" />
                  {% if error %}
                    {{error}}
                  {% endif %}
                </form>
            </div></div>
            </td><td valign="top" width="50%" height="20%">


        </td></tr></table>
        <script>
            //window.document.getElementById("noOptions").style.display = "block";
            //window.document.getElementById("allOptions").style.display = "none";
            function changeOptions() {
                var form = window.document.getElementById("form");
                {% for catitem in catagories %}
                    var {{catitem}} = window.document.getElementById("{{catitem}}");
                {%endfor%}

                //window.document.getElementById("noOptions").style.display = "none";

                if (form.radioButton1.checked) {
                    food.style.display = "none";
                    tool.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    atire.style.display = "block";
                    atire.selectedIndex = 0;
                } else if (form.radioButton2.checked) {
                    atire.style.display = "none";
                    tool.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    food.style.display = "block";
                    food.selectedIndex = 0;
                } else if (form.radioButton3.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    tool.style.display = "block";
                    tool.selectedIndex = 0;
                } else if (form.radioButton4.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    tool.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    misc.style.display = "block";
                    misc.selectedIndex = 0;
                } else if (form.radioButton5.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    misc.style.display = "none";
                    tool.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    construction.style.display = "block";
                    construction.selectedIndex = 0;
                } else if (form.radioButton6.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    tool.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    items.style.display = "block";
                    items.selectedIndex = 0;
                } else if (form.radioButton7.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    tool.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    medical.style.display = "block";
                    medical.selectedIndex = 0;
                } else if (form.radioButton8.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    tool.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    weapons.style.display = "block";
                    weapons.selectedIndex = 0;
                } else if (form.radioButton9.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    tool.style.display = "none";
                    ammunition.style.display = "none";
                    resources.style.display = "none";
                    trap.style.display = "block";
                    trap.selectedIndex = 0;
                } else if (form.radioButton10.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    tool.style.display = "none";
                    resources.style.display = "none";
                    ammunition.style.display = "block";
                    ammunition.selectedIndex = 0;
                } else if (form.radioButton11.checked) {
                    atire.style.display = "none";
                    food.style.display = "none";
                    misc.style.display = "none";
                    construction.style.display = "none";
                    items.style.display = "none";
                    medical.style.display = "none";
                    weapons.style.display = "none";
                    trap.style.display = "none";
                    ammunition.style.display = "none";
                    tool.style.display = "none";
                    resources.style.display = "block";
                    resources.selectedIndex = 0;
                }

            }
             window.document.getElementById("radioButton1").onclick = changeOptions;
             window.document.getElementById("radioButton2").onclick = changeOptions;
             window.document.getElementById("radioButton3").onclick = changeOptions;
             window.document.getElementById("radioButton4").onclick = changeOptions;
             window.document.getElementById("radioButton5").onclick = changeOptions;
             window.document.getElementById("radioButton6").onclick = changeOptions;
             window.document.getElementById("radioButton7").onclick = changeOptions;
             window.document.getElementById("radioButton8").onclick = changeOptions;
             window.document.getElementById("radioButton9").onclick = changeOptions;
             window.document.getElementById("radioButton10").onclick = changeOptions;
             window.document.getElementById("radioButton11").onclick = changeOptions;
         </script>
    </body>
</html>